openapi: 3.0.0
info:
  title: Todo Tasks Service
  description: API for managing todo tasks
  version: "3.0.0"

servers:
  - url: 'https://todo.doczilla.pro/'
    description: Todo tasks service

paths:
  /api/todos:
    get:
      summary: Retrieve a complete list of tasks
      operationId: getAllTodos
      parameters:
        - name: limit
          in: query
          description: Limit the number of tasks returned
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset for the tasks
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskEntity'

  /api/todos/date:
    get:
      summary: Retrieve a list of tasks within a specified date range
      operationId: getTasksByDate
      parameters:
        - name: from
          in: query
          description: Start date
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: End date
          required: true
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          description: Filter by task status
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskEntity'

  /api/todos/find:
    get:
      summary: Search tasks by name
      operationId: findTasksByName
      parameters:
        - name: q
          in: query
          description: Query string to search tasks by name
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the number of tasks returned
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset for the tasks
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskEntity'

components:
  schemas:
    TaskEntity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        shortDesc:
          type: string
        fullDesc:
          type: string
        date:
          type: string
          format: date-time
        status:
          type: boolean